config MMI_SC8549
        tristate "MMI SC8549 PD"
        default n
        help
         Say Y here if you have a mmi sc8549 compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called mmi_sc8549.
