# SPDX-License-Identifier: GPL-2.0-only
source "drivers/power/avs/Kconfig"
source "drivers/power/reset/Kconfig"
source "drivers/power/supply/Kconfig"
source "drivers/power/bm_adsp_ulog/Kconfig"
source "drivers/power/bq2589x_chg_mmi/Kconfig"
source "drivers/power/bq2597x_mmi_iio/Kconfig"
source "drivers/power/cw2217b_fg_mmi/Kconfig"
source "drivers/power/mmi_charger/Kconfig"
source "drivers/power/mmi_discrete_charger/Kconfig"
source "drivers/power/mmi_discrete_turbo_charger/Kconfig"
source "drivers/power/mmi_parallel_charger_iio/Kconfig"
source "drivers/power/mmi_sc8549/Kconfig"
source "drivers/power/mmi-smbcharger-iio/Kconfig"
source "drivers/power/qpnp_adaptive_charge/Kconfig"
source "drivers/power/qpnp_smb_basic_charger/Kconfig"
source "drivers/power/qti_glink_charger/Kconfig"
source "drivers/power/rt9426a_fg_mmi/Kconfig"
source "drivers/power/sd77426_fg_mmi/Kconfig"
source "drivers/power/sgm4154x_chg_mmi/Kconfig"
source "drivers/power/sm5602_fg_mmi/Kconfig"

