config NFC_SN1XX
        tristate "SN1XX NFC"
        default n
        help
         Say Y here if you have a sn1xx nfc compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called nfc_i2c.
